* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: Arial, sans-serif;
}

main {
  flex: 1;
}

.wrapper {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  padding: 0 1rem;
}
.p1{
  font-size: 24px;
  font-family: palanquin, sans-serif;
  font-weight: 700;
}

.footer-text{
  display: flex;
  flex-direction: row;
  gap: 40px;
  color: rgba(255, 255, 255, 1);
}
