
@media (max-width: 1000px) {

  .meal-headline-inner {
    max-width: 100%;
    /* margin: 0 160px; */
    display: flex;
    align-items: center;
}

  .menu-list {
    width: 100%;
  }

  .menu-item {
    height: auto;
  }

  .burger_image {
    width: 150px;
    height: 150px;
  }

  .basket-overlay {
    width: 380px;
    height: 660px;
    top: 0;
    border-radius: 0;
  }

  .meal-title {
    font-size: 28px;
    text-align: center;
  }
}


@media (max-width: 600px) {

  .menu-item {
    flex-direction: column;
  }

  .menu-item-image {
    width: 100%;
    height: 200px;
  }

  .meal-headline {
    flex-direction: column;
    padding: 0;
    justify-content: center;
    margin-top: 60px;
    position: relative;
  }

  .meal-icon {
    position: absolute;
    top: -60px;
    margin-right: 0;
  }

  .burger-img {
    height: 80px;
  }

  .meal-title {
    font-size: 28px;
    text-align: center;
  }

  .header_menu {
    display: none;
  }
}



@media (max-width: 500px) {

  .menu-item-content {
    position: static;
  }

  .footer {
    margin-bottom: 64px;
  }

  .footer-text{
    flex-direction: column-reverse;
    gap: 8px;
  }
  .menu-item-price {
    position: static;
    font-weight: 600;
  }

  .menu-item-description {
    margin-top: 8px;
  }

  .menu-item-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 16px;
  }

  .burger_image {
    width: 100px;
    height: 100px;
  }

  .mobile-nav {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 70px;
    background: #3a3a3a;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;


  }

  .mobile-nav img {
    width: 28px;
    height: 28px;
  }

  .cart-icon {
    position: relative;
  }

  .cart-count {
    position: absolute;
    top: -6px;
    right: -8px;
    background: orange;
    color: white;
    font-size: 12px;
    border-radius: 50%;
    padding: 2px 6px;
  }

  .hero_title_container { 
    flex-direction: column-reverse;
  }
}


@media (max-width: 320px) {

  body {
    font-size: 18px;
  }

  .menu-item-image {
    height: 160px;
  }

  .menu-item-title {
    font-size: 14px;
  }

  .burger_image {
    width: 80px;
    height: 80px;
  }

  .basket-overlay {
    padding: 16px;
  }

  .basket-overlay {
    width: 280px;
    height: 340px;
    top: 0;
    border-radius: 0;
  }
}
