@media (max-width: 990px) {

  .menu-list {
    width: 100%;
  }

  .menu-item {
    height: auto;
    flex-direction: column;
  }

  .menu-item-image {
    width: 100%;
    height: 200px;
  }

  .basket-overlay {
    width: 350px;
    height: 100vh;
    border-radius: 0;
    top: 0;
  }
}


@media (max-width: 480px) {

  .header_layout {
    padding: 1rem;
  }

  .menu-item {
    padding: 12px;
  }

  .menu-item-title {
    font-size: 16px;
  }

  .basket-overlay {
    width: 100%;
  }

  .menu-item-button {
    width: 100%;
  }
}


@media (max-width: 320px) {

  body {
    font-size: 14px;
  }

  .menu-item-image {
    height: 160px;
  }

  .menu-item-title {
    font-size: 14px;
  }

  .basket-overlay {
    padding: 16px;
  }
}
